.navbar-brand, .navbar-link, .navbar-active {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}


@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

@media (min-width: 768px) {
  .nav.navbar-nav.navbar-right > span {
    padding-top: 15px;
    padding-bottom: 10px;
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  .nav.navbar-nav.navbar-right > li {
    padding-top: 12px;
    padding-bottom: 10px;
    line-height: 20px;
  }
}

.navbar.navbar-inverse.navbar-fixed-top {
 /* min-height: 80px; */
 /* height: 80px; */
 font-size: 20px;
 background: #0d0d0d;
}

body {
  padding-top: 80px;
  /* background: #1a1a1a;
  color: #d9d9d9; */
}

#contentModal {
  background: #0d0d0d;
  color: #d9d9d9;
  text-align: left;
}


#map, #barchart, #sunburst, #linechart{
  /* background: #333333; */
  background: #1a1a1a;
  /* background: white; */
  color: white;
  border: 1px solid #333333;
  padding: 10px;
  /* box-shadow: 5px 10px 8px inset #333333; */
  /* background: lightgrey; */
  /* background: #404040; */
}

#textLegendMap {
  fill: white;
  stroke: none;
  font-size: 20px;
}

.row {
  background: #333333;
  margin-left: 0px;
  margin-right: 0px;
  color: #d9d9d9;
}

select {
	/* background: #F0F3FB; */
  background: #0d0d0d;
	border: 1px solid #0d0d0d;
	border-radius: 4px;
	width: 150px;
  height: 100%;
  /* display: inline-block; */
	padding: 20px;
	font-size: 16px;
	/* color: #3F3F3F; */
  color: #d9d9d9;
  cursor: pointer;

	/* Here's the code we need */
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	 -o-appearance: none;
		appearance: none;
}

.select-wrapper {
	position: relative;
}

.select-wrapper:after {
	 font-family: "Font Awesome\ 5 Free";
  	content: "\f0d7";
  	font-size: 20px;
  	position: absolute;
  	top: 20px;
  	right: 20px;
  	/* color: #d9d9d9; */
    color: #d9d9d9;
  	pointer-events: none;
    font-weight: 900;
}

select:focus {
  outline: none;
}

#header {
  color: #d9d9d9;
  text-align: center;
}

.tooltip {
    position: absolute;
    text-align: left;
    padding: 2px;
    font: 12px sans-serif;
    background: black;
    color: white;
    /* color: white; */
    border: 1px solid white;
    border-radius: 0px;
    pointer-events: none;
}

.axis path, line {
  /* fill: none; */
  stroke: #d9d9d9;
  stroke-width: 1px;
  font-weight: normal;
  shape-rendering: crispEdges;
}

#xAxis text {
  /* color: #bfbfbf; */
  color: #d9d9d9;
  text-anchor: start;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: normal;
}

#yAxis text {
  color: #d9d9d9;
  text-anchor: end;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: normal;
}

#buttonLine {
  position:absolute;
  transition: .5s ease;
  top: 87.5%;
  left: 87.5%;
  background: #0d0d0d;
  /* background: #49c0fc; */
  color: white;
}

#buttonLine:focus {
    outline:none;
}
