

#navbar, #pageHeader, #map, #barchart, #sunburst {
  /* background: #999966; */
  background: lightgrey;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: yellow;
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}
